@import '~@/styles/themes/var';

.source-drawer {
  color: $font-color;
  user-select: none;

  &.el-drawer.ltr,
  &.el-drawer.rtl {
    top: 40px;
    height: calc(100% - 40px);
  }

  .el-drawer__header {
    padding-bottom: 12px;
  }

  .source-drawer-title {
    font-size: 18px;
    color: #eee;
  }

  .step-title {
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;

    &::before {
      position: absolute;
      top: 6px;
      left: -13px;
      display: block;
      width: 8px;
      height: 8px;
      background: $color-primary;
      border-radius: 4px;
      content: '';
      box-shadow: 0 0 4px -2px #000;
      transition: background 0.2s;
    }

    &::after {
      position: absolute;
      top: 10px;
      right: 0;
      width: 300px;
      height: 1px;
      background: rgba(128, 128, 128, 0.4);
      content: '';
      transform: scaleY(0.5);
    }
  }

  .datasource-selector {
    margin-top: 15px;
  }

  .use-filter-btn {
    margin-right: 5px;
    margin-left: 3px;
    line-height: 18px;
    vertical-align: middle;
  }

  .use-filter-text {
    vertical-align: -1px;
  }

  .tutorial-popup {
    margin-left: 10px;
    font-size: 12px;
    color: $color-primary;
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: $color-primary-secondary;
    }
  }

  .refresh-btn {
    margin-left: 5px;
    color: $color-primary;
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: $color-primary-secondary;
    }
  }
}

.datav-new-select {
  width: 100%;
  margin: 10px 0;

  .el-input__inner {
    height: 30px;
    line-height: 30px;
    padding-left: 14px;
    background: #0e1013;
    border: $config-panel-border;

    &:hover {
      border-color: $color-primary;
    }
  }
}

.datav-new-select-option.el-select__popper {
  border-top: none !important;
  margin-top: -12px !important;

  > .datav-new-select-option {
    min-width: 458px !important;
  }

  .el-popper__arrow {
    display: none;
  }
}
