{{#if template}}
<template>
  <div>
    {{ pascalCase name }}
  </div>
</template>
{{/if}}

{{#if script}}
<script lang='ts' setup>
import {} from 'vue'
</script>
{{/if}}

{{#if style}}
<style lang="scss" scoped>
</style>
{{/if}}
