@import 'var';

/* 改变 icon 字体路径变量，必需 */
$--font-path: 'node_modules/element-plus/lib/theme-chalk/fonts';

$--color-primary: $color-primary;

/* Dialog
-------------------------- */
$--dialog-background-color: $dialog-bgcolor;

@import "node_modules/element-plus/packages/theme-chalk/src/index";
