@import 'default';

// reset css
* {
  padding: 0;
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 1024px;
  font-size: 12px;
  line-height: unset;
}

body {
  font-family: 'PingFang SC', 'Microsoft YaHei', 'Helvetica Neue', Arial, sans-serif !important;
  background: var(--datav-body-bg);
  -webkit-font-smoothing: antialiased;

  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #434b55;
}

::-webkit-scrollbar-corner {
  display: none;
}

#app {
  width: 100%;
  height: 100%;
}
