@import '../color/colors';

$color-white: #fff;
$color-black: #000;
$color-gray: #90a0ae;
$color-dark: #262c33;

$color-primary: $blue-6;
$color-success: $green-6;
$color-warning: $warn-6;
$color-error: $red-6;
$color-info: $color-gray;

// Base
$font-color: #bcc9d4;
$font-color-disabled: #424447;
$font-size: 12px;
$header-font-size: $font-size;
$hover-color: $color-primary;
$nav-color: #b9c2cc;
$nav-border-color: #27343e;

// Animation
$ease-base-out: cubic-bezier(0.7, 0.3, 0.1, 1);
$ease-base-in: cubic-bezier(0.9, 0, 0.3, 0.7);
$ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46);
$ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6);
$ease-in-out-back: cubic-bezier(0.71, -0.46, 0.29, 1.46);
$ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1);
$ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.34);
$ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
$ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);

$animation-duration-slow: 0.3s; // Modal
$animation-duration-base: 0.2s;
$animation-duration-fast: 0.1s; // Tooltip

// Background
$background-color: #171b22;

// Border
$border-color: #434b55;

// Input
$input-bgcolor: #1d262e;
$input-color: #fff;
$input-hover-color: #bcc9d4;

// Scrollbar
$scrollbar-thumb-bg: #434b55;
$scrollbar-thumb-width: 4px;
$scrollbar-thumb-height: 4px;

// tooltip-popover
$tooltip-popover-color: #fff;
$tooltip-popover-bgcolor: #1b3964;
$tooltip-popover-shadow-color: #000;

// drop-list-popover
$drop-list-popover-bgcolor: $color-dark;
$drop-list-popover-hover-bgcolor: #1a1b1d;

// project
$screen-border-color: #3a4659;
$screen-bgcolor: rgba(0, 0, 0, 0.81);
$screen-shadow-color: #000;
$screen-font-color: #fff;

// Icon
$icon-color: $color-white;
$icon-hover-color: $color-primary;

// Publish
$publish-font-color: #bcc9d4;
$publish-dot-color: #576369;

// Message
$message-font-color: #fff;
$message-success-bgcolor: #1b3964;
$message-success-border-color: $color-primary;
$message-error-bgcolor: #5d2b3e;
$message-error-border-color: $color-error;

// MessageBox
$message-box-bgcolor: #303640;
$message-box-icon-color: #ff4f43;
$message-box-border-color: #3a4659;

// Slider
$slider-color: #74f0ff;

// Button
$button-font-color: $color-white;
$button-active-shade-percent: 10% !default;

// Loading
$loading-color: #1996df;
