.el-button--default:not(.el-button--primary) {
  color: $color-primary;
  border-color: $color-primary;
  background: transparent;

  &:hover {
    color: $button-font-color;
    background: $color-primary;
    border-color: $color-primary;
  }

  &:focus {
    color: $color-primary;
    background: transparent;
    border-color: $color-primary;
  }

  &:active {
    color: $button-font-color;
    background: mix($color-black, $color-primary, $button-active-shade-percent);
    border-color: mix($color-black, $color-primary, $button-active-shade-percent);
    outline: none;
  }
}

.el-button--medium {
  padding: 0 30px;
  min-height: 32px;
}

.el-button {
  border-radius: 0;
  transition: all 0.3s $ease-in-out;

  &.is-disabled {
    &,
    &:hover,
    &:focus {
      cursor: not-allowed;
      color: $button-font-color-disabled;
      border-color: $button-border-color-disabled;
      background: $button-bgcolor-disabled;
    }
  }
}
