.el-card {
  border-radius: 0;
  border: 1px solid $border-color;
  background-color: $background-color-dark;

  .el-card__header {
    padding: 12px;
    color: $color-primary;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid $border-color;
  }

  .el-card__body {
    padding: 12px;
    overflow-y: auto;
    color: #fff;
  }

  .card-header__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
