.el-card {
  border-radius: 0;
  border: var(--datav-border);
  background-color: var(--datav-bgcolor-2);

  .el-card__header {
    padding: 12px;
    color: var(--datav-main-color);
    font-size: 14px;
    font-weight: 500;
    border-bottom: var(--datav-border);
  }

  .el-card__body {
    padding: 12px;
    overflow-y: auto;
    color: var(--datav-gui-font-color-1);
  }

  .card-header__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
