@import "themes/var";

.el-checkbox {
  line-height: 28px;

  .el-checkbox__inner {
    background-color: transparent;
    border: $border;
    outline: $border-outline;

    &:hover {
      border-color: $checkbox-checked-border-color;
      background-color: rgba(38, 129, 255, 0.3);
    }

    &::after {
      border-color: $checkbox-checked-border-color;
    }
  }

  .el-checkbox__label {
    padding-left: 6px;
    font-size: 12px;
    line-height: 16px;
    color: $font-color;
  }

  &.is-checked {
    .el-checkbox__inner {
      background-color: transparent;
    }
  }

  .el-checkbox__input.is-checked + .el-checkbox__label {
    color: $font-color;
  }
}
