.g-color-mapping {
  width: 100%;
}

.g-color-mapping-fixed {
  display: flex;
  justify-content: space-between;
}

.g-color-mapping-scale-selection {
  display: flex;
  justify-content: space-between;
}
