.el-color-picker {
  .el-input .el-input__inner {
    color: #fff;
  }
}

.el-color-picker__trigger {
  border: none;
}

.el-color-picker__panel.el-popper.is-dark {
  border-color: $popover-bgcolor-dark;
  background: $popover-bgcolor-dark;
}

.g-color-picker {
  display: flex;
  justify-content: space-between;

  .el-color-picker {
    margin-left: -28px;
  }

  .el-color-picker--medium {
    margin-left: -36px;
  }

  .el-input .el-input__inner {
    color: #fff;
  }
}
