.datav-gui {
  &.--inline {
    display: inline-block;
    width: 90px;
    flex: 0 0 90px;
    padding-bottom: 4px;

    &.--single {
      width: 192px;
      flex: 0 0 192px;
    }
  }
}

.datav-wraper {
  box-sizing: border-box;
}
