.g-field-tabs {
  &.el-tabs--border-card {
    background: var(--datav-gui-bgcolor-front);
    border: none;
    border-bottom: 1px solid var(--datav-gui-border-color);
    box-shadow: unset;

    .el-tabs__header {
      background-color: var(--datav-gui-bgcolor-back);
      border-bottom-color: var(--datav-gui-border-color);

      .el-tabs__nav-next,
      .el-tabs__nav-prev {
        line-height: 36px;
        padding: 0 4px;
        color: var(--datav-gui-font-color-2);

        .el-icon-arrow-left,
        .el-icon-arrow-right {
          font-size: 12px;
        }

        &:hover {
          color: var(--datav-gui-hover-color);
          background: transparent;
        }
      }

      .el-tabs__item {
        font-size: 12px;
        color: var(--datav-gui-font-color-base);
        height: 36px;
        line-height: 36px;
        padding: 0 15px;
        margin-top: 0;
        user-select: none;

        &::before {
          content: "";
          position: absolute;
          display: inline-block;
          bottom: 4px;
          height: 4px;
          width: 4px;
          border-radius: 1px;
          left: calc(50% - 4px);
          background: var(--datav-main-color);
          transition: all 0.2s;
          opacity: 0;
        }

        &.is-active {
          color: var(--datav-main-color);
          background-color: transparent;
          border-color: transparent;

          &::before {
            opacity: 1;
          }
        }

        &:hover {
          color: var(--datav-gui-hover-color);
        }
      }
    }

    .el-tabs__content {
      padding: 0;
      background-color: var(--datav-gui-bgcolor-back);
    }
  }

  &.--column {
    .g-field-tabs-column-item {
      border-bottom: 1px solid var(--datav-gui-border-color);
    }

    .g-field-tabs-column-item-head {
      font-size: 12px;
      color: var(--datav-gui-font-color-2);
      padding-left: 8px;
      line-height: 16px;
      cursor: pointer;
      padding-top: 16px;
      margin: 0;
      margin-left: 20px;
      position: relative;
      display: inline-block;

      &::before {
        content: "";
        position: absolute;
        display: inline-block;
        bottom: 8px;
        left: -4px;
        height: 4px;
        width: 4px;
        border-radius: 1px;
        background: var(--datav-gui-primary-color);
        transition: all 0.2s;
        opacity: 0;
      }

      &.--selected {
        color: var(--datav-gui-primary-color);

        &::before {
          opacity: 1;
        }
      }

      &:hover {
        color: var(--datav-gui-hover-color);
      }
    }
  }
}
