.g-field-collapse-panel {
  > div > .el-collapse-item__header {
    .g-field-collapse-panel-toolbox {
      color: $font-color;
      margin-left: auto;
      line-height: 20px;

      .toolbox-icon {
        margin-left: 6px;
        padding: 4px;
        transition: transform 0.3s ease-in-out;

        &:hover,
        &.--selected {
          color: $color-primary;
        }

        &.v-icon-plus:hover {
          transform: rotate(90deg);
        }

        &.--disabled {
          color: $font-color-disabled;
          cursor: not-allowed;
        }
      }

      .g-field-collapse-panel-toolbox-split {
        margin-left: 6px;
        display: inline-block;
        width: 1px;
        height: 8px;
        border-left: 1px solid $field-border-color;
      }
    }
  }

  &.--has-toolbox {
    > div > .el-collapse-item__header {
      .el-collapse-item__arrow {
        margin: 0 8px 0 6px;
      }
    }
  }

  .g-field-collapse-panel-empty {
    padding: 12px;
    padding-left: 28px;
    font-size: $font-size;
    color: $gui-font-color-3;
    height: 40px;
    line-height: 40px;
  }
}
