@font-face {
  font-family: "datav-icons";
  src: url('./fonts/datav-icons.woff2') format('woff2');
}

[class*=" el-icon-"],
[class^="el-icon-"],
[class*=" v-icon-"],
[class^="v-icon-"] {
  font-family: "datav-icons" !important;
  font-size: 14px;
  font-style: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.v-icon-editor-canvas:before {
  content: "\e6a0";
}

.v-icon-nodal:before {
  content: "\e699";
}

.v-icon-refresh:before {
  content: "\e86b";
}

.v-icon-document:before {
  content: "\e8c2";
}

.v-icon-plus:before {
  content: "\e661";
}

.v-icon-user:before {
  content: "\e75f";
}

.v-icon-key:before {
  content: "\e7af";
}

.v-icon-caret-bottom:before {
  content: "\e663";
}

.v-icon-link:before {
  content: "\e6c8";
}

.v-icon-view-list:before {
  content: "\e62f";
}

.v-icon-view-grid:before {
  content: "\e604";
}

.v-icon-mobile:before {
  content: "\e660";
}

.v-icon-magic:before {
  content: "\ea1f";
}

.v-icon-drag:before {
  content: "\e66d";
}

.v-icon-keyboard:before {
  content: "\e6fb";
}

.v-icon-toolbox:before {
  content: "\e7a3";
}

.v-icon-fullscreen-exit:before {
  content: "\eca9";
}

.v-icon-international:before {
  content: "\e676";
}

.v-icon-flip-v:before {
  content: "\e70a";
}

.v-icon-flip-h:before {
  content: "\e70b";
}

.v-icon-assets:before {
  content: "\e715";
}

.v-icon-stop:before {
  content: "\e680";
}

.v-icon-logout:before {
  content: "\ef5b";
}

.v-icon-menu:before {
  content: "\e868";
}

.v-icon-my-com:before {
  content: "\e652";
}

.v-icon-tutorial:before {
  content: "\e62e";
}

.v-icon-my-data:before {
  content: "\e61e";
}

.v-icon-edit:before {
  content: "\e645";
}

.v-icon-cloud:before {
  content: "\e602";
}

.v-icon-setting:before {
  content: "\e790";
}

.v-icon-show:before {
  content: "\e6c0";
}

.v-icon-unlock:before {
  content: "\e6d0";
}

.v-icon-line-show:before {
  content: "\e600";
}

.v-icon-line-hide:before {
  content: "\e601";
}

.v-icon-favorite:before {
  content: "\e772";
}

.v-icon-more:before {
  content: "\e62d";
}

.v-icon-other:before {
  content: "\e617";
}

.v-icon-chart-bar:before {
  content: "\e63d";
}

.v-icon-chart:before {
  content: "\e629";
}

.v-icon-move-up:before {
  content: "\e60b";
}

.v-icon-move-down:before {
  content: "\eb86";
}

.v-icon-lock:before {
  content: "\e6d3";
}

.v-icon-hide:before {
  content: "\e6c9";
}

.v-icon-move-top:before {
  content: "\eb87";
}

.v-icon-move-bottom:before {
  content: "\eb88";
}

.v-icon-delete:before {
  content: "\e6c7";
}

.v-icon-add-floder:before {
  content: "\e615";
}

.v-icon-add:before {
  content: "\e616";
}

.v-icon-copy:before {
  content: "\e70c";
}

.v-icon-move:before {
  content: "\e633";
}

.v-icon-back:before {
  content: "\e618";
}

.v-icon-video:before {
  content: "\e665";
}

.v-icon-img:before {
  content: "\e60c";
}

.v-icon-complete:before {
  content: "\e6d1";
}

.v-icon-interact:before {
  content: "\e60a";
}

.v-icon-preview:before {
  content: "\e696";
}

.v-icon-adapt-height:before {
  content: "\e64c";
}

.v-icon-adapt-auto:before {
  content: "\e7a7";
}

.v-icon-fullscreen:before {
  content: "\e621";
}

.v-icon-adapt-width:before {
  content: "\e64a";
}

.v-icon-filter:before {
  content: "\e68e";
}

.v-icon-material:before {
  content: "\e881";
}

.v-icon-workspace:before {
  content: "\e625";
}

.v-icon-layer:before {
  content: "\e60f";
}

.v-icon-box:before {
  content: "\e6a2";
}

.v-icon-rpanel:before {
  content: "\e745";
}

.v-icon-relation:before {
  content: "\e6ad";
}

.v-icon-media:before {
  content: "\e649";
}

.v-icon-smile:before {
  content: "\e614";
}

.v-icon-font:before {
  content: "\e620";
}

.v-icon-title:before {
  content: "\e650";
}

.v-icon-save:before {
  content: "\e61f";
}

.v-icon-search:before {
  content: "\e603";
}

.v-icon-help:before {
  content: "\e654";
}

.v-icon-release:before {
  content: "\e626";
}

.v-icon-map:before {
  content: "\e6cb";
}

.v-icon-chart-line:before {
  content: "\e67e";
}

.v-icon-chart-pie:before {
  content: "\e67f";
}

.v-icon-excel:before {
  content: "\e6df";
}

.el-icon-loading,
.v-icon-loading {
  display: inline-block;
  animation: rotating 2s linear infinite;

  &:before {
    content: "\e61c";
  }
}

.el-icon-close:before,
.v-icon-close:before {
  content: "\e619";
}

.el-icon-success:before,
.v-icon-check:before {
  content: "\e606";
}

.el-icon-error:before,
.v-icon-error:before {
  content: "\e607";
}

.el-icon-warning:before,
.v-icon-warning:before {
  content: "\e609";
}

.el-icon-info:before,
.v-icon-info:before {
  content: "\ef5d";
}

.el-icon-arrow-up:before,
.v-icon-arrow-up:before {
  content: "\ef5e";
}

.el-icon-arrow-down:before,
.v-icon-arrow-down:before {
  content: "\e82d";
}

.el-icon-arrow-left:before,
.v-icon-arrow-left:before {
  content: "\e82e";
}

.el-icon-arrow-right:before,
.v-icon-arrow-right:before {
  content: "\ef5c";
}

.el-icon-plus:before {
  content: "+";
}

.el-icon-minus:before {
  content: "-";
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}
