@font-face {
  font-family: "datav-icons";
  src: url('./fonts/datav-icons.woff') format('woff'),
    url('./fonts/datav-icons.ttf') format('truetype');
}

[class*=" v-icon-"],
[class^="v-icon-"] {
  font-family: "datav-icons" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.v-icon-stop:before {
  content: "\e680";
}

.v-icon-logout:before {
  content: "\ef5b";
}

.v-icon-menu:before {
  content: "\e868";
}

.v-icon-my-com:before {
  content: "\e652";
}

.v-icon-tutorial:before {
  content: "\e62e";
}

.v-icon-my-data:before {
  content: "\e61e";
}

.v-icon-edit:before {
  content: "\e645";
}

.v-icon-cloud:before {
  content: "\e602";
}

.v-icon-setting:before {
  content: "\e790";
}

.v-icon-show:before {
  content: "\e64d";
}

.v-icon-unlock:before {
  content: "\e8e9";
}

.v-icon-line-show:before {
  content: "\e600";
}

.v-icon-line-hide:before {
  content: "\e601";
}

.v-icon-favorite:before {
  content: "\e772";
}

.v-icon-more:before {
  content: "\e62d";
}

.v-icon-other:before {
  content: "\e617";
}

.v-icon-chart-bar:before {
  content: "\e63d";
}

.v-icon-chart:before {
  content: "\e629";
}

.v-icon-move-up:before {
  content: "\e60b";
}

.v-icon-move-down:before {
  content: "\eb86";
}

.v-icon-shortcut:before {
  content: "\e61a";
}

.v-icon-lock:before {
  content: "\e608";
}

.v-icon-hide:before {
  content: "\e610";
}

.v-icon-move-top:before {
  content: "\eb87";
}

.v-icon-move-bottom:before {
  content: "\eb88";
}

.v-icon-list:before {
  content: "\e637";
}

.v-icon-app:before {
  content: "\e624";
}

.v-icon-delete:before {
  content: "\e618";
}

.v-icon-add-floder:before {
  content: "\e615";
}

.v-icon-add:before {
  content: "\e616";
}

.v-icon-copy:before {
  content: "\e70c";
}

.v-icon-move:before {
  content: "\e633";
}

.v-icon-back:before {
  content: "\e641";
}

.v-icon-video:before {
  content: "\e665";
}

.v-icon-img:before {
  content: "\e60c";
}

.v-icon-complete:before {
  content: "\e605";
}

.v-icon-interact:before {
  content: "\e60a";
}

.v-icon-preview:before {
  content: "\e696";
}

.v-icon-adapt-height:before {
  content: "\e64c";
}

.v-icon-adapt-auto:before {
  content: "\e7a7";
}

.v-icon-fullscreen:before {
  content: "\e621";
}

.v-icon-adapt-width:before {
  content: "\e64a";
}

.v-icon-filter:before {
  content: "\e68e";
}

.v-icon-material:before {
  content: "\e881";
}

.v-icon-workspace:before {
  content: "\e625";
}

.v-icon-layer:before {
  content: "\e60f";
}

.v-icon-box:before {
  content: "\e6a2";
}

.v-icon-rpanel:before {
  content: "\e745";
}

.v-icon-relation:before {
  content: "\e6ad";
}

.v-icon-media:before {
  content: "\e649";
}

.v-icon-smile:before {
  content: "\e614";
}

.v-icon-font:before {
  content: "\e620";
}

.v-icon-title:before {
  content: "\e62c";
}

.v-icon-save:before {
  content: "\e7ef";
}

.v-icon-search:before {
  content: "\e603";
}

.v-icon-help:before {
  content: "\e654";
}

.v-icon-release:before {
  content: "\e626";
}

.v-icon-map:before {
  content: "\e62b";
}

.v-icon-chart-line:before {
  content: "\e67e";
}

.v-icon-chart-pie:before {
  content: "\e67f";
}

.v-icon-excel:before {
  content: "\e6df";
}

.v-icon-loading:before {
  content: "\e61c";
}

.v-icon-loading {
  display: inline-block;
  animation: rotating 2s linear infinite;
}

.v-icon--right {
  margin-left: 5px;
}

.v-icon--left {
  margin-right: 5px;
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}
