.g-input-number {
  width: 100%;
}

.n-input-number {
  .n-input-wrapper {
    padding-left: 8px;
    padding-right: 0;
  }

  .n-input__suffix {
    .n-button {
      position: absolute;
      top: 1px;
      right: 1px;
      border-left: var(--datav-outline);
      border-bottom: var(--datav-outline);
      padding: 0 3px;

      &:nth-last-of-type(1) {
        top: 14px;
        border-bottom: none;
        border-top: 1px solid #0000;
      }

      &:hover {
        border-color: var(--datav-main-color);
      }
    }
  }

  .n-input-number-suffix {
    margin-right: 24px;
  }
}
