@import "themes/var";

.el-input {
  .el-input__inner {
    padding: 0 8px;
    color: $input-font-color;
    background: $input-bgcolor;
    border: 1px solid $input-border-color;
    border-radius: 0;
    caret-color: $color-primary;

    &:focus {
      border-color: $color-primary;
    }

    &:hover {
      border-color: $color-primary;
    }

    &::placeholder {
      color: $font-color-placeholder;
    }
  }
}

.g-input {
  height: 24px;
  display: inline-block;
  background: $input-bgcolor;
  vertical-align: middle;
  padding: 0 8px;
  line-height: 16px;
  color: $input-font-color;
  width: 100%;
  caret-color: $color-primary;
  box-sizing: border-box;
  box-shadow: none;
  margin: 0;
  outline: 0;
  border-radius: 0;
  font-size: 12px;
  border: 1px solid $input-border-color;
  transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  &:hover {
    border: $border-primary;
  }
}
