@import "themes/var";
@import "mixins/util";

.el-message-box {
  position: relative;
  border: none;
  border-radius: 0;
  background: $message-box-bgcolor;

  .el-message-box__headerbtn .el-message-box__close {
    @include utils-close-btn($color-primary);
  }

  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(
      270deg,
      $slider-color 0,
      $color-primary 74%
    );
  }
}

.el-message-box__title {
  color: $message-font-color;
}

.el-message-box__content {
  padding: 16px 20px;
  color: $message-font-color;
}

.el-message-box__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.el-message-box__header {
  padding: 16px;
}

.el-message-box__status {
  top: 25px;
  font-size: 65px !important;

  &.el-icon-warning {
    color: $message-box-icon-color;
  }
}

.el-message-box__message {
  margin-top: 60px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.el-message-box__btns {
  border-top: 1px solid $message-box-border-color;
  padding: 16px 20px 6px;
}
