@import "themes/var";

.el-popover.el-popper {
  min-width: auto;

  // TODO:  el-popover 只支持 light
  @each $placement, $adjacency in ('top': 'left', 'bottom': 'right', 'left': 'bottom', 'right': 'top') {
    &.is-light[data-popper-placement^='#{$placement}'] {
      .el-popper__arrow::before {
        border-color: $popover-dark-bgcolor;
        background: $popover-dark-bgcolor;
      }
    }
  }
}

.editor-popover.el-popover {
  padding: 0;
  border: 0;
  border-radius: 0;

  // TODO:  el-popover 只支持 light
  @each $placement, $adjacency in ('top': 'left', 'bottom': 'right', 'left': 'bottom', 'right': 'top') {
    &.is-light[data-popper-placement^='#{$placement}'] {
      .el-popper__arrow::before {
        border-color: $editor-popover-bgcolor;
        background: $editor-popover-bgcolor;
      }
    }
  }
}
