.n-base-select-menu {
  .n-virtual-list {
    border: var(--datav-border-primary);
  }

  .n-base-select-option {
    border-left: 2px solid transparent;

    .n-base-select-option__content {
      margin-left: 4px;
      width: 100%;
    }

    &.n-base-select-option--selected {
      font-weight: 700;

      &::before {
        content: " â— ";
        color: var(--datav-main-color);
        font-family: "Helvetica Neue";
        display: inline-block;
        position: absolute;
        left: 4px;
        vertical-align: middle;
      }
    }

    &:hover {
      border-left-color: var(--datav-main-color);
    }
  }
}

.datav-new-select {
  width: 100%;
  margin: 10px 0;

  .el-input {
    .el-input__inner {
      height: 30px;
      line-height: 30px;
      padding-left: 14px;
      // background: $datav-data-form-bgcolor;
      // border: $config-panel-border;

      &:hover {
        // border-color: $color-primary;
      }
    }
  }
}

.datav-new-select-option.el-select__popper {
  border-top: none !important;
  margin-top: -12px !important;

  > .datav-new-select-option {
    margin: 0 -1px;
    padding: 0 1px;
  }

  .el-popper__arrow {
    display: none;
  }
}

.filter-select {
  .el-input {
    .el-input__inner {
      // border: $datav-data-filter-border;
    }
  }
}
