.n-slider {
  .n-slider-rail {
    .n-slider-rail__fill {
      background: var(--datav-gui-slider-track-color);
    }
  }

  .n-slider-handle {
    border: 2px solid var(--datav-gui-primary-color);
  }
}

.g-slider {
  .g-slider-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 28px;
  }

  .n-slider {
    width: 92px;
    flex: 0 0 92px;
  }

  .n-input-number {
    width: 92px;
    margin-left: 4px;
  }
}

.g-slider-range {
  width: 196px;

  .g-slider-main {
    height: 28px;
  }

  .g-slider-range-wrap {
    height: 12px;
    line-height: 12px;
    margin: -2px 0 2px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: var(--datav-gui-font-color-description);

    .g-slider-range-current {
      width: 100%;
      padding: 0 4px;
      text-align: center;
    }
  }
}
