.el-switch {
  height: $switch-height;
  line-height: $switch-height;

  .el-switch__label {
    height: $switch-height;
  }

  .el-switch__core {
    height: 16px;
    background: $switch-bgcolor;
    border: 1px solid $switch-border-color;

    .el-switch__action {
      width: 12px;
      height: 12px;
    }
  }

  &.is-checked {
    .el-switch__core {
      .el-switch__action {
        margin-left: -12px;
      }
    }
  }
}
