.el-tabs {
  height: 100%;

  .el-tabs__content {
    height: 100%;

    .el-tab-pane {
      height: 100%;
    }
  }

  .el-tabs__nav-next,
  .el-tabs__nav-prev {
    color: #f2f2f2;
    transition: 0.2s;

    &:hover {
      color: $color-primary;
      background: $tabs-nav-bgcolor-hover;
    }
  }
}

.el-tabs--left {
  display: flex;
  height: 100%;

  .el-tabs__header {
    width: 48px;

    &.is-left {
      margin-right: 0;
    }
  }

  .el-tabs__nav-wrap {
    height: 100%;
    background: $tabs-nav-bgcolor;

    &.is-left {
      margin-right: 0;

      &::after {
        right: auto;
        background-color: transparent;
      }
    }
  }

  .el-tabs__active-bar {
    background-color: $tabs-bar-bgcolor-active;

    &.is-left {
      right: auto;
    }
  }

  // .el-tabs__nav-scroll {
  //   overflow-x: hidden;
  //   overflow-y: scroll;

  //   &::-webkit-scrollbar {
  //     display: none;
  //     height: 0;
  //     width: 0;
  //     background: 0 0;
  //   }
  // }

  .el-tabs__item {
    padding: 0 16px;
    color: $tabs-font-color;

    &:hover {
      color: $hover-color;
    }

    &.is-active {
      color: $color-primary;
      background: $tabs-bgcolor-active;
    }
  }

  .el-tabs__content {
    height: 100%;
    overflow-y: scroll;
    background: $tabs-content-bgcolor;
    flex: 1;
  }
}

.el-tabs--card {
  & > .el-tabs__header {
    border: 0;
    margin: 0;

    .el-tabs__nav {
      border: 0;
      border-radius: 0;
    }

    .el-tabs__item {
      border: 0;
      height: 30px;
      line-height: 30px;
      border-top: 2px solid transparent;
      color: $tabs-font-color;
      background: $datav-tabs-nav-bgcolor;

      &:hover {
        color: $hover-color;
      }

      &.is-active {
        color: $hover-color;
        border-top: 2px solid $color-primary;
        background: $datav-tabs-nav-bgcolor-active;
      }
    }
  }

  .el-tabs__content {
    background: $datav-tabs-nav-bgcolor-active;
  }
}
