@import "themes/var";

.tooltip-popover.el-popover {
  padding: 6px 10px;
  background: $tooltip-popover-bgcolor;
  box-shadow: 0 0 4px $tooltip-popover-shadow-color;
  color: $tooltip-popover-color;
  border: $border-primary;
  line-height: 1;
  font-size: 12px;
  border-radius: 0;
}
