@import "themes/var";

.el-popper.is-blue {
  padding: 5px;
  background: $color-primary;
  border-radius: 0;
  color: #fff;
  max-width: 200px;
  overflow-wrap: break-word;
  line-height: 16px;

  .el-popper__arrow {
    width: 8px;
    height: 8px;

    &::before {
      content: " ";
      width: 8px;
      height: 8px;
      background: $color-primary;
    }
  }

  @each $placement, $adjacency in ('top': 'bottom', 'bottom': 'top', 'left': 'right', 'right': 'left') {
    &[data-popper-placement^='#{$placement}'] {
      .el-popper__arrow {
        #{$adjacency}: -4px;
        border-#{$placement}-color: $color-primary;
        border-#{$adjacency}-width: 0;

        &::after {
          border-#{$placement}-color: $color-primary;
        }
      }
    }
  }
}
