.interaction-panle {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

  .events-title {
    position: relative;
    display: flex;
    align-items: center;
    height: 35px;
    line-height: 35px;
    padding-left: 16px;
    background: var(--datav-config-bg);
    border-bottom: var(--datav-config-border);
    color: var(--datav-font-color);
    cursor: pointer;

    .event-text {
      width: 150px;
      line-height: 1;
      align-items: center;
      display: flex;
      padding: 4px 0;
    }

    .extra,
    .enable-checkbox {
      position: absolute;
      right: 10px;
    }
  }

  .com-events > .events-title {
    padding: 0 10px;
  }

  .events-up {
    margin-right: 2px;
    transition: 0.2s transform ease-in;
  }

  .events-down {
    margin-right: 2px;
    transition: 0.2s transform ease-in;
    transform: rotate(90deg);
  }

  .tutorial-link {
    color: var(--datav-font-color);
    text-decoration: none;
    cursor: pointer;
  }

  .event-list {
    font-size: 12px;
  }

  .variables {
    padding: 0 10px;
    color: var(--datav-font-color);
    background: #15171c;

    .variables-table {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
      border-spacing: 0;

      thead {
        border-bottom: var(--datav-config-border);
      }

      th,
      td {
        height: 38px;
        vertical-align: middle;
        text-align: left;
        font-weight: unset;

        &:first-child {
          text-indent: 11px;
        }
      }

      .variable-input .attr-input {
        width: 66px;
        padding: 0 5px;
        background: #000;
        color: #fff;
        border: 1px solid transparent;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .variable-btn .delete-btn {
        cursor: pointer;

        &:hover {
          color: var(--datav-main-color);
        }
      }
    }

    .add-variable {
      padding-top: 20px;
      padding-bottom: 20px;
      border-top: var(--datav-config-border);
      display: flex;
      justify-content: center;
    }
  }
}
