.source-drawer {
  color: var(--datav-font-color);
  user-select: none;

  .source-drawer-title {
    font-size: 18px;
    color: #eee;
  }

  .step-title {
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;

    &::before {
      position: absolute;
      top: 6px;
      left: -13px;
      display: block;
      width: 8px;
      height: 8px;
      background: var(--datav-main-color);
      border-radius: 4px;
      content: '';
      box-shadow: 0 0 4px -2px #000;
      transition: background 0.2s;
    }

    &::after {
      position: absolute;
      top: 10px;
      right: 0;
      width: 300px;
      height: 1px;
      background: rgb(128 128 128 / 40%);
      content: '';
      transform: scaleY(0.5);
    }

    &.--error::before {
      background: var(--datav-error-color);
    }

    &.--disabled::before {
      background: #444;
    }
  }

  .datasource-selector {
    margin-top: 15px;
  }

  .ds-response-btn {
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    color: var(--datav-main-color);
    transition: color 0.2s;

    &:hover {
      color: var(--datav-main-hover-color);
    }
  }

  .use-filter-btn {
    margin-right: 5px;
    margin-left: 3px;
    line-height: 18px;
    vertical-align: middle;
  }

  .use-filter-text {
    vertical-align: -1px;
  }

  .tutorial-popup {
    margin-left: 10px;
    font-size: 12px;
    color: var(--datav-main-color);
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: var(--datav-main-hover-color);
    }
  }

  .refresh-btn {
    margin-left: 5px;
    color: var(--datav-main-color);
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: var(--datav-main-hover-color);
    }
  }
}

.ds-preview-content {
  position: relative;
  width: 400px;
  height: 200px;
  padding: 10px;
  border-radius: 2px;
  background: var(--datav-dark-color);
  box-shadow: 0 0 6px -3px #000;
}
