
.api-editor-title {
  display: flex;
  width: 100%;
  height: 38px;
  padding-right: 34px;
  padding-left: 10px;
  font-size: 12px;
  background: $dark2;
  border-top: 1px solid $dark6;
  border-bottom: 1px solid $dark7;
  box-sizing: border-box;
  transition: 0.4s;
  justify-content: space-between;
  align-items: center;
}

.api-desc {
  max-width: 160px;
  color: $text;
  white-space: initial;
  cursor: pointer;
}

.api-fold-icon {
  transition: transform 0.3s;
}

.api-editor.--disable-fold .api-desc {
  cursor: default;
}

.api-editor.--fold .api-fold-icon {
  transform: rotate(90deg);
}

.api-status {
  color: $grey;

  .status-icon {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-right: 4px;
    vertical-align: middle;
    background: $blue2;
    border-radius: 1px;
    transition: 0.2s;
  }
}

.data-attr-table {
  width: 100%;
  color: $grey;
  text-align: left;

  .table-head {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 0;
    line-height: 40px;
    border-bottom: 1px solid $dark6;

    .table-head-row {
      display: block;
      width: 100%;
      height: 100%;
    }

    .th-item {
      font-weight: 400;
    }
  }

  .table-body {
    display: block;
    width: 100%;
    padding-bottom: 10px;

    .table-body-row {
      display: block;
      width: 100%;
    }
  }

  .table-head,
  .table-body {
    .column-item {
      display: inline-flex;
      height: 40px;
      padding: 0 6px;
      font-size: 12px;
      line-height: 17px;
      vertical-align: middle;
      box-sizing: border-box;
      align-items: center;

      &:first-child {
        padding-left: 10px;
      }
    }

    .attr-name {
      width: 19%;
    }

    .attr-value {
      width: 41%;
    }

    .attr-status {
      width: 40%;
    }

    .attr-input {
      width: 108px;
      height: 24px;

      .el-input__inner {
        height: 24px;
        line-height: 24px;
        color: $grey2;
      }
    }
  }
}

.c-pointer {
  cursor: pointer;
}

.attr-status-icon {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-right: 4px;
  vertical-align: middle;
  background: $blue2;
  border-radius: 1px;
  transition: 0.2s;

  &.validating {
    animation: validating 1s infinite ease-in-out;

    &:nth-child(1) {
      animation-delay: 0.25s;
    }

    &:nth-child(2) {
      animation-delay: 0.5s;
    }
  }
}

.data-source {
  color: $grey;
  user-select: none;

  .data-result-title {
    padding: 10px;
    border-top: 1px solid $dark6;
    border-bottom: 1px solid $dark6;
  }

  .auto-update-config {
    display: block;
    margin-top: 15px;
    margin-left: 10px;
  }

  .auto-update-checkbox {
    margin-right: 5px;
    line-height: 16px;
    vertical-align: middle;

    .el-checkbox__label {
      padding-left: 6px;
      font-size: 12px;
      line-height: 16px;
      color: $grey;
    }
  }

  .update-interval-input {
    width: 36px;
    margin: 0 5px;
    vertical-align: middle;

    // stylelint-disable no-descending-specificity
    .el-input__inner {
      height: 24px;
      line-height: 16px;
    }

    &.is-disabled .el-input__inner {
      color: $dark11;
      cursor: not-allowed;
      background-color: $dark10;
      border: 1px solid $dark12;
    }
  }

  .data-flow-wp {
    position: relative;
    padding: 10px;
  }

  .ds-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0 5px 20px;

    &.mt5 {
      margin-top: 5px;
    }

    .ds-type-text {
      display: inline-block;
      padding: 3px 5px;
      margin-left: 7px;
      font-size: 12px;
      line-height: 12px;
      color: $grey;
      text-align: center;
      background: $dark16;
      border-radius: 1px;
      box-shadow: 0 0 5px -3px #000;
    }

    .ds-action-btn {
      width: 120px;
    }

    .refresh-btn {
      font-size: 16px;
      cursor: pointer;
      transition: color 0.2s;

      &:hover {
        color: $blue;
      }
    }
  }

  .ds-dots {
    position: absolute;
    top: 25px;
    left: 15px;
    display: flex;
    width: 1px;
    height: 87px;
    background: $dark17;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .ds-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: $grey6;
    border-radius: 4px;
    box-shadow: 0 0 3px #000;
    transition: background 0.2s;

    &.active {
      background: $blue;
    }
  }

  .data-response {
    padding: 10px;
    padding-top: 0;
  }
}

.datav-ds-editor {
  position: relative;
  height: 240px;
  overflow: hidden;
  border: 1px solid $dark6;

  .editor-actions {
    position: absolute;
    right: 10px;
    bottom: 5px;
    z-index: 1;
    width: 40px;
    font-size: 12px;
    text-align: right;

    .action-btn {
      padding: 4px;
      font-size: 12px;
      color: $grey3;
      cursor: pointer;
      transition: color 0.2s;
    }
  }

  &.--read-only {
    .margin,
    .monaco-editor-background {
      background-color: #1f2329;
    }
  }
}

@import './monaco-editor.scss';
