.aui-field-wp {
  margin-right: 8px;
  margin-bottom: 5px;

  &:first-child {
    padding-top: 10px;
  }

  &:last-child {
    padding-bottom: 10px;
  }
}

.aui-field-suite {
  margin-bottom: 3px;
}

.aui-field {
  display: flex;

  &.--lv1 {
    padding-left: 8px;
    color: $text;
  }

  &.--lv2 {
    padding-left: 8px;
    color: $grey5;
  }
}

.aui-field-wp .aui-field.--lv2 {
  padding-left: 24px;
}

.aui-field-text {
  height: 28px;
  font-size: $text_fs;
  line-height: 28px;
}

.aui-field-help {
  padding: 0 3px;
  font-size: $text_fs;
  line-height: 28px;
  color: $grey2;
  cursor: pointer;

  &:hover {
    color: $blue;
  }
}

.aui-field-show-placeholder {
  display: block;
  width: 16px;
  margin-right: 4px;
  line-height: 28px;

  .aui-field-show {
    color: $grey2;
    cursor: pointer;

    &:hover {
      color: $blue;
    }
  }
}

.aui-field-wp.--disable {
  cursor: not-allowed;

  .aui-field-text,
  .aui-field-container,
  .aui-field-show-placeholder.--subitem {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.aui-field-suite.--disable {
  cursor: not-allowed;

  .aui-field-text,
  .aui-field-container {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.aui-field-collapse {
  margin-bottom: 5px;
  border: none;

  .el-collapse-item__header {
    height: 40px;
    padding-left: 8px;
    font-size: $text_fs;
    line-height: 40px;
    color: $text;
    background: $dark13;
    border-bottom-color: rgba(52, 52, 52, 0.5);

    .el-collapse-item__arrow {
      font-weight: bold;
      color: $grey2;
    }
  }

  .el-collapse-item__wrap {
    padding: 16px 0;
    padding-right: 8px;
    background-color: $dark5;
    border-bottom-color: rgba(52, 52, 52, 0.5);
  }

  .el-collapse-item.is-disabled .el-collapse-item__header {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.aui-switch {
  height: $text_h;
  line-height: $text_h;

  .el-switch__label {
    height: $text_h;
  }

  .el-switch__core {
    height: 16px;
    background: $dark14;
    border: 1px solid $dark1;

    &::after {
      width: 12px;
      height: 12px;
    }
  }

  &.is-checked .el-switch__core {
    background-color: $blue;
    border-color: $blue;

    &::after {
      margin-left: -13px;
    }
  }
}

.aui-radio {
  color: $grey;

  .el-radio__label {
    padding-left: 6px;
    font-size: $text_fs;
  }

  .el-radio__inner {
    width: $text_fs;
    height: $text_fs;
  }

  .el-radio__input.is-checked {
    .el-radio__inner {
      background: $blue;
      border-color: $blue;
    }

    & + .el-radio__label {
      color: $blue;
    }
  }
}

.aui-input {
  font-size: $text_fs;

  .el-input__inner {
    padding: 0 7px;
    color: $text;
    background: $dark10;
    border: 1px solid $dark1;
    caret-color: $blue;
    border-radius: 0;

    &:focus {
      border: 1px solid $blue;
    }

    &:hover {
      border: 1px solid $blue;
    }
  }
}

.aui-checkbox {
  line-height: 28px;

  .el-checkbox__inner {
    background-color: transparent;
    border: 1px solid $dark15;
    outline: 1px solid $dark1;

    &:hover {
      background-color: rgba(38, 129, 255, 0.3);
      border-color: $blue;
    }

    &::after {
      border-color: $blue;
    }
  }

  &.is-checked {
    .el-checkbox__inner {
      background-color: transparent;
    }
  }
}

.aui-select {

  // stylelint-disable no-descending-specificity
  .el-input__inner {
    padding-right: 33px;
  }

  &:hover .el-input .el-input__inner {
    border-color: $blue;
  }
}

.aui-select-option {
  background: $dark5;
  border-color: $blue;
  border-radius: 0;

  .el-select-dropdown__item {
    padding: 0 14px;
    font-size: 12px;
    color: $grey2;
    background-color: $dark5;

    &:hover {
      padding: 0 12px;
      background-color: $dark24;
      border-left: 2px solid $blue;
    }

    &.selected {
      padding: 0 4px;
      color: $text;

      &::before {
        padding-right: 4px;
        color: $blue;
        content: "·";
      }

      &:hover {
        padding: 0 2px;
      }
    }
  }

  &.el-popper[x-placement^=bottom] .popper__arrow {
    border-bottom-color: $blue;

    &::after {
      border-bottom-color: $dark5;
    }
  }

  &.el-popper[x-placement^=top] .popper__arrow {
    border-top-color: $blue;

    &::after {
      border-top-color: $dark5;
    }
  }
}

.aui-new-select {
  display: inline-block;
  width: 100%;
  margin: 10px 0;
  color: $grey;
  background: $dark22;
  box-sizing: border-box;

  .el-input__inner {
    height: 30px;
    padding-left: 10px;
    line-height: 30px;
    color: $grey;
    background: $dark22;
    border: 1px solid $dark6;
  }
}

.aui-new-select-option {
  background: $dark23;
  border-top: none;

  .el-select-dropdown__list {
    padding: 0;
  }

  .el-select-dropdown__item {
    background-color: $dark23;

    &:hover {
      background-color: rgba(0, 113, 230, 0.08);
    }

    &.selected::before {
      display: inline-block;
      height: 34px;
      padding-right: 4px;
      font-size: 22px;
      line-height: 34px;
      color: $blue;
      vertical-align: bottom;
      content: "·";
    }
  }

  &.el-popper {
    margin: 0;
  }

  .popper__arrow {
    display: none;
  }
}

.aui-color-picker-wp {
  display: flex;
  justify-content: space-between;

  .el-color-picker {
    margin-left: -28px;
  }

  .el-color-picker__trigger {
    border: none;
  }
}

.aui-input-number {
  .el-input-number__decrease {
    color: $grey;
    background: $dark10;
    border-right: 1px solid $dark1;

    &:not(.is-disabled):hover {
      z-index: 2;
      color: $blue;
      border-color: $blue;
    }
  }

  .el-input-number__increase {
    color: $grey;
    background: $dark10;
    border-left: 1px solid $dark1;

    &:not(.is-disabled):hover {
      z-index: 2;
      color: $blue;
      border-color: $blue;
    }
  }

  .el-input .el-input__inner {
    padding-right: 35px;
    padding-left: 35px;
  }

  &.is-controls-right {
    width: 88px;

    .el-input-number__decrease {
      top: auto;
      right: 1px;
      bottom: 1px;
      left: auto;
      line-height: 13px;
      border-top: 1px solid $dark1;
      border-right: none;
      border-left: 1px solid $dark1;
      border-radius: 0 0 4px;
    }

    .el-input-number__increase {
      line-height: 13px;
      border-bottom: 1px solid $dark1;
      border-radius: 0 4px 0 0;
    }

    .el-input .el-input__inner {
      padding-right: 35px;
      padding-left: 7px;
    }

    & + & {
      margin-left: 12px;
    }
  }
}

.aui-button {
  font-weight: bold;
  color: $blue;
  background: transparent;
  border: 1px solid $blue;
  border-radius: 0;

  &:focus {
    color: $blue;
    background: transparent;
    border-color: $blue;
  }

  &:hover {
    color: $text;
    background: $blue4;
    border-color: $blue4;
    background-clip: border-box;
  }

  &:active {
    color: $text;
    background: $blue3;
    border-color: $blue3;
  }
}

.aui-upload-wp {
  width: 100%;

  .aui-input {
    .el-input__inner {
      padding-right: 21px;
      padding-left: 21px;
    }

    .el-input__prefix {
      left: 0;
    }

    .el-input__suffix {
      right: 0;
    }
  }

  .aui-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    padding: 10px;
    margin-top: 3px;
    background: $dark10;
    border: 1px solid $dark1;

    &:hover {
      background: $dark18;
      border: 1px solid $blue;
    }
  }

  .el-upload-dragger {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    border-radius: 0;
  }

  .aui-upload-tip {
    color: $grey;

    .a-icon {
      margin-bottom: 5px;
      font-size: 60px;
    }
  }
}

.aui-msg-box {
  background: $dark18;
  border: 1px solid $dark18;
  border-radius: 0;

  .el-message-box__title {
    color: $grey;
  }

  .el-message-box__content {
    color: $text;
  }

  .el-button {
    font-weight: bold;
    color: $blue;
    background: transparent;
    border: 1px solid $blue;
    border-radius: 0;

    &:focus {
      color: $blue;
      background: transparent;
      border-color: $blue;
    }

    &:hover {
      color: $text;
      background: $blue4;
      border-color: $blue4;
      background-clip: border-box;
    }

    &:active {
      color: $text;
      background: $blue3;
      border-color: $blue3;
    }
  }

  .el-button--primary {
    color: $text;
    background: $blue;

    &:focus {
      color: $text;
      background: $blue4;
      border-color: $blue4;
    }

    &:hover {
      color: $text;
      background: $blue4;
      border-color: $blue4;
      background-clip: border-box;
    }

    &:active {
      color: $text;
      background: $blue3;
      border-color: $blue3;
    }
  }

  .el-message-box__headerbtn {
    transition: 0.3s ease;

    &:hover {
      transform-origin: center;
      transform: rotateZ(90deg);
    }

    .el-dialog__close {
      color: $blue;
    }
  }
}

.aui-slider {
  .el-slider__runway {
    width: 93px;
    height: 2px;
    margin: 12px 0;
    background-color: $grey;
    border-radius: 1px;
  }

  .el-slider__bar {
    height: 2px;
  }

  .el-slider__button-wrapper {
    top: -9px;
    width: 20px;
    height: 20px;
  }

  .el-slider__button {
    width: 10px;
    height: 10px;
  }

  .el-input-number {
    width: 88px;
    margin-top: 0;
  }
}

.aui-slider.aui-input-number.is-controls-right {
  width: 100%;
}

.aui-watermark {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 99999999;
  width: 50px;

  img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
  }
}

.aui-drawer-wp {
  position: absolute;

  & + .v-modal {
    position: absolute;
    background: 0 0;
  }
}

.aui-drawer {
  width: 500px !important;
  padding: 16px 20px;
  background: $dark;
  box-shadow: none;

  .el-drawer__header {
    display: flex;
    padding: 5px;
    margin-bottom: 0;
    line-height: 16px;
    color: $blue;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    justify-content: space-between;

    .el-drawer__close-btn {
      font-size: 18px;
      transition: 0.3s ease;

      &:hover {
        transform-origin: center;
        transform: rotateZ(90deg);
      }
    }
  }

  .el-drawer__body {
    height: 100%;
    padding: 0 20px 80px 20px;
    margin: 0 -20px;
    overflow: auto;
  }
}
