// edit base
$text: #fff;
$text_fs: 12px;
$text_h: 28px;

$dark: #1d2126;
$dark1: #0b0c0d;
$dark2: #1c1f25;
$dark3: #191c21;
$dark4: #13161a;
$dark5: #111417;
$dark6: #282f3a;
$dark7: #2b2f3a;
$dark8: #2e343c;
$dark9: #303640;
$dark10: #262c33;
$dark11: #424447;
$dark12: #323437;
$dark13: #1c2026;
$dark14: #303740;
$dark15: #3a4659;
$dark16: #39414d;
$dark17: #4c5768;
$dark18: #303640;
$dark19: #14161a;
$dark20: #2c2e33;
$dark21: #21262b;
$dark22: #0e1013;
$dark23: #1d232b;
$dark24: #1b3964;
$blue: #2483ff;
$blue2: #18a6f9;
$blue3: #2681ff;
$blue4: #409fff;
$grey: #bcc9d4;
$grey2: #a1aeb3;
$grey3: #bfbfbf;
$grey4: #d4d4d4;
$grey5: #7f97a0;
$grey6: #7d8081;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
/* stylelint-disable */
:export {
  dark: $dark;
}
