@mixin utils-user-select($value) {
  -moz-user-select: $value;
  -webkit-user-select: $value;
  -ms-user-select: $value;
}

@mixin utils-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin utils-ellipsis-n($n: 2) {
  .ellipsis#{$n} {
    display: -webkit-box;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $n;
    -webkit-box-orient: vertical;
  }
}

@mixin utils-close-btn($color: $message-font-color, $hover-color: $color-primary) {
  font-size: 16px;
  color: $color;
  transition: 0.3s ease;

  &:hover {
    color: $hover-color;
    transform-origin: center;
    transform: rotateZ(90deg);
  }
}
