@mixin utils-user-select($value) {
  -moz-user-select: $value;
  -webkit-user-select: $value;
  -ms-user-select: $value;
}

@mixin utils-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin utils-close-btn($color: $message-font-color, $hover-color: $color-primary) {
  font-size: 18px;
  color: $color;
  transition: 0.3s ease;

  &:hover {
    color: $hover-color;
    transform-origin: center;
    transform: rotateZ(90deg);
  }
}
