@import './color-palette.scss';

// color palettes
$blue-main: #2681ff;
$blue-1: colorPalette($blue-main, 1);
$blue-2: colorPalette($blue-main, 2);
$blue-3: colorPalette($blue-main, 3);
$blue-4: colorPalette($blue-main, 4);
$blue-5: colorPalette($blue-main, 5);
$blue-6: $blue-main;
$blue-7: colorPalette($blue-main, 7);
$blue-8: colorPalette($blue-main, 8);
$blue-9: colorPalette($blue-main, 9);
$blue-10: colorPalette($blue-main, 10);

$red-main: #f15532;
$red-1: colorPalette($red-main, 1);
$red-2: colorPalette($red-main, 2);
$red-3: colorPalette($red-main, 3);
$red-4: colorPalette($red-main, 4);
$red-5: colorPalette($red-main, 5);
$red-6: $red-main;
$red-7: colorPalette($red-main, 7);
$red-8: colorPalette($red-main, 8);
$red-9: colorPalette($red-main, 9);
$red-10: colorPalette($red-main, 10);

$green-main: #50e3c2;
$green-1: colorPalette($green-main, 1);
$green-2: colorPalette($green-main, 2);
$green-3: colorPalette($green-main, 3);
$green-4: colorPalette($green-main, 4);
$green-5: colorPalette($green-main, 5);
$green-6: $green-main;
$green-7: colorPalette($green-main, 7);
$green-8: colorPalette($green-main, 8);
$green-9: colorPalette($green-main, 9);
$green-10: colorPalette($green-main, 10);

$warn-main: #f27a24;
$warn-1: colorPalette($warn-main, 1);
$warn-2: colorPalette($warn-main, 2);
$warn-3: colorPalette($warn-main, 3);
$warn-4: colorPalette($warn-main, 4);
$warn-5: colorPalette($warn-main, 5);
$warn-6: $warn-main;
$warn-7: colorPalette($warn-main, 7);
$warn-8: colorPalette($warn-main, 8);
$warn-9: colorPalette($warn-main, 9);
$warn-10: colorPalette($warn-main, 10);

$preset-colors: (
  red: $red-main,
  warn: $warn-main,
  green: $green-main,
  blue: $blue-main,
);
