@import './color-palette.scss';

// color palettes
$blue-main: #2681ff;
$blue-1: colorPalette($blue-main, 1); // #f0f9ff
$blue-2: colorPalette($blue-main, 2); // #c9e7ff
$blue-3: colorPalette($blue-main, 3); // #a1d1ff
$blue-4: colorPalette($blue-main, 4); // #78b9ff
$blue-5: colorPalette($blue-main, 5); // #4f9eff
$blue-6: $blue-main;
$blue-7: colorPalette($blue-main, 7); // #1660d9
$blue-8: colorPalette($blue-main, 8); // #0944b3
$blue-9: colorPalette($blue-main, 9); // #002c8c
$blue-10: colorPalette($blue-main, 10); // #001d66

$red-main: #f43;
$red-1: colorPalette($red-main, 1); // #fff5f0
$red-2: colorPalette($red-main, 2); // #ffe5d9
$red-3: colorPalette($red-main, 3); // #ffc6b0
$red-4: colorPalette($red-main, 4); // #ffa587
$red-5: colorPalette($red-main, 5); // #ff815e
$red-6: $red-main;
$red-7: colorPalette($red-main, 7); // #cc3a21
$red-8: colorPalette($red-main, 8); // #a62312
$red-9: colorPalette($red-main, 9); // #801208
$red-10: colorPalette($red-main, 10); // #590904

$green-main: #50e3c2;
$green-1: colorPalette($green-main, 1); // #f0fff9
$green-2: colorPalette($green-main, 2); // #f0fffa
$green-3: colorPalette($green-main, 3); // #d4fff1
$green-4: colorPalette($green-main, 4); // #a9fce5
$green-5: colorPalette($green-main, 5); // #7af0d2
$green-6: $green-main;
$green-7: colorPalette($green-main, 7); // #39bda4
$green-8: colorPalette($green-main, 8); // #269686
$green-9: colorPalette($green-main, 9); // #167066
$green-10: colorPalette($green-main, 10); // #0e4a45

$warn-main: #f27a24;
$warn-1: colorPalette($warn-main, 1); // #fff9f0
$warn-2: colorPalette($warn-main, 2); // #ffe7c9
$warn-3: colorPalette($warn-main, 3); // #ffd1a1
$warn-4: colorPalette($warn-main, 4); // #ffb978
$warn-5: colorPalette($warn-main, 5); // #ff9e4f
$warn-6: $warn-main;
$warn-7: colorPalette($warn-main, 7); // #cc5b14
$warn-8: colorPalette($warn-main, 8); // #a63f08
$warn-9: colorPalette($warn-main, 9); // #802800
$warn-10: colorPalette($warn-main, 10); // #591900

$preset-colors: (
  red: $red-main,
  warn: $warn-main,
  green: $green-main,
  blue: $blue-main,
);
